{% extends "nm2-base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Debian New Members" %}</h1>

<p class="lead">
 {% blocktrans %}Welcome to the New Members website.{% endblocktrans %}
 {% blocktrans %}This is the place to apply for Debian membership, and to manage one's status in the project.{% endblocktrans %}
</p>

<div class="card-deck">

  <div class="card">
    <div class="card-header">
      {% trans "Main links" %}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'wizard:home' %}"><span class="fa fa-magic"></span> {% trans "Site wizard" %}</a>
        <p class="small mt-1">{% trans "Guided index to site features" %}</p>
      </li>
      <li class="list-group-item">
        <a href="{% url 'public_findperson' %}"><span class="fa fa-search"></span> {% trans "Find people" %}</a>
        <p class="small mt-1">{% trans "Search people known to the site" %}</p>
      </li>
      <li class="list-group-item">
        <a href="{% url 'members' %}"><span class="fa fa-certificate"></span> {% trans "Debian Members" %}</a>
        <p class="small mt-1">{% trans "Authoritative official list of Debian Members" %}</p>
      </li>
      <li class="list-group-item">
        <a href="{% url 'public_newnm' %}"><span class="fa fa-user-plus"></span> {% trans "Apply" context "verb; apply for membership" %}</a>
        <p class="small mt-1">{% trans "Apply for a status change through the site" %}</p>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header">
      {% trans "Processes" %}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'process_list' %}"><span class="fa fa-group"></span> {% trans "Applicants" %}</a>
        <p class="small mt-1">{% trans "List of open and recent processes" %}</p>
      </li>
      <li class="list-group-item">
        <a href="{% url 'managers' %}"><span class="fa fa-address-card"></span> {% trans "Managers" %}</a>
        <p class="small mt-1">{% trans "Debian Members who volunteer to review applicants" %}</p>
      </li>
      {% if user.is_authenticated and user.is_am %}
      <li class="list-group-item">
        <a href="{% url 'process_am_dashboard' %}"><span class="fa fa-dashboard"></span> {% trans "AM dashboard" %}</a>
        <p class="small mt-1">{% trans "Your main page as Application Manager" %}</p>
      </li>
      {% endif %}
      <li class="list-group-item">
        <a href="https://wiki.debian.org/Keysigning"><span class="fa fa-key"></span> {% trans "Keysigning" %}</a>
        <p class="small mt-1">{% trans "GPG key signing coordination" %}</p>
      </li>
      <li class="list-group-item">
        <a href="https://wiki.debian.org/Teams/FrontDesk"><span class="fa fa-envelope"></span> {% trans "Contact" %}</a>
        <p class="small mt-1">{% trans "New Member Front Desk contact information" %}</p>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header">
      {% trans "Data" %}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'public_stats' %}"><span class="fa fa-pie-chart"></span> {% trans "Site statistics" %}</a>
        <p class="small mt-1">{% trans "Current and historical statistics about the site" %}</p>
      </li>
      {% if user.is_authenticated %}
      <li class="list-group-item">
        <a href="{% url 'minechangelogs:search_self' %}"><span class="fa fa-history"></span> {% trans "Changelogs search" %}</a>
        <p class="small mt-1">{% trans "Search package changelogs" %}</p>
      </li>
      {% endif %}
      {% if user.is_authenticated and user.is_dd %}
      <li class="list-group-item">
        <a href="{% url 'restricted_db_export' %}"><span class="fa fa-download"></span> {% trans "Export" %}</a>
        <p class="small mt-1">{% trans "Database export for development" %}</p>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="card">
    <div class="card-header">
      {% trans "Site" %}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'root_faq' %}"><span class="fa fa-question"></span> {% trans "FAQ" %}</a>
        <p class="small mt-1">{% trans "Frequently Asked Questions" %}</p>
      </li>
      <li class="list-group-item">
        <a href="https://salsa.debian.org/nm-team/nm.debian.org"><span class="fa fa-code"></span> {% trans "Development" %}</a>
        <p class="small mt-1">{% trans "GitLab project page for the site" %}</p>
      </li>
      <li class="list-group-item">
        <a href="http://bugs.debian.org/nm.debian.org"><span class="fa fa-bug"></span> {% trans "Bugs" %}</a>
        <p class="small mt-1">{% trans "Site issue tracker" %}</p>
      </li>
    </ul>
  </div>

</div>

{% endblock %}
