{% extends "process/nm2-base.html" %}
{% load i18n %}

{% block content %}

{% if expired %}
<h1>{% trans "Link expired" %}</h1>

<p>The process has progressed in a way that made this link obsolete. Please
contact <a href="mailto:wat@debian.org">wat@debian.org</a>.</p>
{% else %}
<h1>{% trans "Retiring from Debian" %}</h1>

<p>{% blocktrans %}You can use this page to
<a href="https://www.debian.org/doc/manuals/developers-reference/developer-duties.html#s3.7">
retire from Debian</a>.{% endblocktrans %}

<p>{% blocktrans %}Use the form below to enter a goodbye message that will be
sent to <a href="https://lists.debian.org/debian-private/">the debian-private
mailing list</a>. A default text is provided for your convenience, feel free to
change it as you wish.{% endblocktrans %}

<p>
{% url 'person:edit_email' key=person.lookup_key as person_edit_email %}
{% blocktrans with person_fullname=person.fullname person_email=person.email %}The
email will be sent as <tt>{{person_fullname}} &lt;{{person_email}}&gt;</tt>.
You can change the address <a href="{{person_edit_email}}">here</a>
(requires <a href="https://wiki.debian.org/DebianSingleSignOn#Documentation_for_Users">
Debian Single SignOn</a> access).{% endblocktrans %}</p>

<form action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
{{form.non_field_errors}}
{% if form.silent %}
  <p>
  {{form.silent.errors}}
  </p>
  <p>
  {{form.silent.label_tag}}
  {{form.silent}}
  </p>
{% endif %}
  <p>
  {{form.statement.errors}}
  </p>
  <p>
  {{form.statement}}
  </p>
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>
{% endif %}

{% endblock %}

