{% extends "nm2-base.html" %}
{% load static %}
{% load nm %}
{% load i18n %}

{% block head %}
{{block.super}}
<style type="text/css">
table.tableform, table.tableform tbody, table.tableform tr, table.tableform th, table.tableform td {
  border: none;
  background-image: none;
}
table.tableform th {
  font-weight: normal;
  text-align: right;
}
.errorlist {
  color: red;
}
</style>
<script type="text/javascript">
(function($) {
"use strict";

class FingerprintComments
{
    constructor(el)
    {
        this.element = el;
        this.reset();
    }

    reset()
    {
        $(this.element).empty();
        this.has_errors = false;
    }

    add_error(tag)
    {
        this.has_errors = true;
        let li = $("<li>").text(tag);
        $(this.element).append(li);
    }

    add_uid_stats(uid)
    {
        let msg = "Signatures: " + uid.sigs_ok.length + " good from Debian Developers, "
                     + uid.sigs_bad + " bad from Debian Developers, ";
                     + uid.sigs_no_key + " from others (including self).";
        let p = $("<p>").text(msg);
        $(this.element).append(p);
        if (uid.sigs_ok.length)
        {
            var ul = $("<ul>").hide();
            for (const name of uid.sigs_ok)
                ul.append($("<li>").text(name));
            $(this.element).append(ul);
            p.css("cursor", "pointer");
            p.click(evt => { ul.toggle(); });
        }
    }

    commit()
    {
        if (!this.has_errors)
        {
            let li = $("<li>").text("Everything seems ok.");
            $(this.element).append(li);
        }
    }
}


class Fingerprint
{
    constructor(element)
    {
        this.element = $(element);
        this.el_check_button = $("#fpr_check");
        this.el_check_spinner = $("#{{form.person.fpr.id_for_label}}_spinner");
        this.el_comments = $("#fpr_comments");
        this.el_fpr_field = $("#{{form.person.fpr.id_for_label}}");
        this.el_keycheck = this.element.find(".fpr_keycheck");
        this._set_loading(false);

        this.el_check_button.click(evt => {
            evt.preventDefault();
            this.run_check();
        });
    }

    _set_loading(val)
    {
        this.el_check_button.toggle(!val);
        this.el_check_spinner.toggle(val);
    }

    read_fpr() {
        let fpr = this.el_fpr_field.val();
        return fpr.replace(/\s+/g, "");
    }

    run_check() {
        var fpr = this.read_fpr();
        this._set_loading(true);
        $.ajax({
            url: "{% url 'keyring_keycheck' fpr='AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA' %}".replace(
                  "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA", fpr),
            method: "GET",
            success: data => {
                this._set_loading(false);
                this.render_result(data);
            },
            error: (xhr, status, error) => {
                this._set_loading(false);
                this.render_error(xhr, status, error);
            },
        });
    }

    _add_keycheck_title(msg)
    {
        let el = $("<h4>").text(msg);
        this.el_keycheck.append(el);
    }

    render_result(data)
    {
        this.el_keycheck.empty();

        // Render key comments
        this._add_keycheck_title("General key comments");
        let ul = document.createElement("ul");
        this.el_keycheck.append(ul);
        let key_comments = new FingerprintComments(ul);
        for (const tag of data.errors)
            key_comments.add_error(tag);
        key_comments.commit();

        // Render UID comments
        let valid_uids = [];
        for (const uid of data.uids)
        {
            this._add_keycheck_title("UID " + uid.name);
            let ul = document.createElement("ul");
            this.el_keycheck.append(ul);
            var uid_comments = new FingerprintComments(ul);
            uid_comments.add_uid_stats(uid);
            for (const tag of uid.errors)
                uid_comments.add_error(tag);

            // Take note of UIDs that look legit to use later for auto-filling the
            // form
            if (uid.sigs_ok.length > 0 && $.inArray("skip", uid.errors) == -1)
                valid_uids.push(uid.name);
        }

        autofill_from_uids(valid_uids);
    }

    render_error(xhr, status, error)
    {
        this.el_keycheck.empty();
        this._add_keycheck_title("Key download failed");
        var msg = xhr.responseText;
        var ul = $("<ul class='errorlist'>")
        if (msg[0] == "{")
        {
            msg = $.parseJSON(msg);
            var pre = $("<pre class='errorlist'>").text(msg.error);
            ul.append($("<li>").append(pre));
        } else if (xhr.status == 404) {
            ul.append($("<li>").text("invalid fingerprint"));
        } else {
            ul.append($("<li>").text(xhr.responseText));
        }
        this.el_keycheck.append(ul);
    }
}

// Parse a uid of the form 'Real Name <email@example.com>' into email
// and realname parts.
function parse_uid(uid)
{
    uid = $.trim(uid);
    var re_uid = /^(?:(.+?)\s*)?(?:\(([^)]+)\)\s*)?(?:<([^>]+)>)?$/;
    var matches = re_uid.exec(uid);
    return {
      name: matches[1],
      comment: matches[2],
      email: matches[3],
    }
}

function autofill_from_uids(uids)
{
    // Harvest first, middle, last names; email; uid
    let cn, mn, sn, email, uid;
    for (const uid of uids)
    {
        const info = parse_uid(uid);

        // Infer cn, mn, sn with some crude heuristics
        if (info.name && !cn)
        {
            var names = info.name.split(/\s+/);
            if (names.length == 1)
            {
              cn = names[0];
            }
            else if (names.length == 3)
            {
              cn = names[0];
              mn = names[1];
              sn = names[2];
            }
            else
            {
              cn = names.slice(0, names.length/2).join(" ");
              sn = names.slice(names.length/2).join(" ");
            }
        }

        if (info.email && !email)
        {
            email = info.email;
        }
    }

    if (email)
        uid = email.replace(/@.+$/, "");
    else if (cn)
        uid = cn.split(" ")[0].toLowerCase();

    function set_if_empty(id, val)
    {
        if (!val) return;
        let el = $("#" + id);
        if (!el.val())
            el.val(val);
    }
    set_if_empty("{{form.ldap_fields.cn.id_for_label}}", cn);
    set_if_empty("{{form.ldap_fields.mn.id_for_label}}", mn);
    set_if_empty("{{form.ldap_fields.sn.id_for_label}}", sn);
    set_if_empty("{{form.person.email.id_for_label}}", email);
    set_if_empty("{{form.ldap_fields.uid.id_for_label}}", uid);
}

function main()
{
    new Fingerprint(document.getElementById("np_fpr"));
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>{% trans "Debian New Member - Join the NM process" %}</h1>

{% if errors %}
<div class="warning">
    {% blocktrans count num=errors|length %}There is an issue in your submission:
    {% plural %}There are {{ num }} issues in your submission:{% endblocktrans %}
  <ul>
  {% for e in errors %}
  <li><a href="#np_{{e.section}}">{{e.label}}</a>: {{e.errors}}</li>
  {% endfor %}
  </ul>
  {% blocktrans %}Click on the label to jump to the relevant section. The
errors are also shown next to the fields in the form.{% endblocktrans %}
</div>
{% endif %}

{% if has_entry %}
<h2 id="hasentry">{% trans "You already have an entry in the system." %}</h2>

<p>{% blocktrans %}You already have an entry in the system if you are a DD, a
DM, have a guest account on Debian machines or have already applied on this page.{% endblocktrans %}</p>

{% if is_dd %}
<p><em>{% blocktrans with person_status=person|desc_status %}Not only do you already have an entry, but you are also
<i>{{person_status}}</i>.
The rest of this page does not apply to you, but you can still see it so that
you know how it looks like if you want to refer prospective new applicants to
this page.
{% endblocktrans %}</em></p>
{% endif %}

<p>{% blocktrans with person_url=person.get_absolute_url %}To request to become a Debian Maintainer or a Debian
Developer, to get a porter box guest account, and more, visit
<a href="{{person_url}}">your personal page</a> and follow the
"request new status" link.{% endblocktrans %}</p>
{% endif %}

{% if require_login %}

<h2>{% trans "Please login first" %}</h2>

<p>{% trans "You need to be logged in to join the New Member process." %}</p>

<p><a href="{% url 'signon:login' %}" class="btn btn-lg btn-primary"><span class="fa fa-sign-in"></span> {% trans "Login" %}</a></p>

{% endif %}

{% if show_apply_form %}

<h2>{% trans "Apply for an entry in the system" %}</h2>

<div class="important">
{% url 'public_findperson' as public_findperson_url %}
{% url 'dm_claim' as dm_claim_url %}
<p>{% blocktrans %}<strong>Debian Maintainers:</strong> if you are already a
Debian Maintainer you should already be known to this system, but the account
you used to log in might not be linked to your entry in the system.
Please first <a href="{{public_findperson_url}}">check if this is true</a> and if so,
<a href="{{dm_claim_url}}">claim your account</a>.{% endblocktrans %}</p>
</div>

<p>{% blocktrans %}With the form below you can apply to have an entry in the
system, so that people can advocate you to have some permission granted or
some new role in Debian. The form is quite long, so you may want to read it
all from top to bottom before starting to fill it in.{% endblocktrans %}</p>

<p>{% blocktrans %}Note that after you submit the form, you will have
{{DAYS_VALID}} days to visit a URL that you will receive encrypted in an email.
You may want to make sure that you can read encrypted email before spending time
on this form.{% endblocktrans %}</p>

<form action="{{request.build_absolute_uri}}" method="post">{% csrf_token %}
  {{ form.person.non_field_errors }}
  {{ form.ldap_fields.non_field_errors }}

  <div id="np_rules">
    <h3>{% trans "Ground Rules" %}</h3>

    <p>{% blocktrans %}First thing first, if you contribute to Debian,
everyone will assume that you have read the
<a href="http://www.debian.org/social_contract">Debian Social Contract</a> (SC)
and the <a href="http://www.debian.org/social_contract#guidelines">Debian Free
Software Guidelines</a> (DFSG) and agree with them. If you have not read them
yet, please take a moment to do so now.{% endblocktrans %}</p>
    <p>{% trans "Do you agree to uphold the Social Contract and the DFSG in your Debian work?" %}
    {% for r in form.person.sc_ok %} {{r}} {% endfor %}
    </p>
    {{form.person.sc_ok.errors}}

    <p>{% blocktrans %}If you contribute to Debian, you will also sooner or
later get access to Debian hardware or infrastructure. When that happens,
you will be required to comply with the
<a href="http://www.debian.org/devel/dmup">Debian Machine Usage Policies</a>
(DMUP).{% endblocktrans %}<p>
    <p>{% blocktrans %}Do you agree to follow the Debian Machine Usage
Policies (DMUP) when you use Debian resources?{% endblocktrans %}
    {% for r in form.person.dmup_ok %} {{r}} {% endfor %}
    </p>
    {{form.person.dmup_ok.errors}}
  </div>

  <div id="np_fpr">
    <h3>{% trans "OpenPGP Key" %}</h3>

    <p>{% blocktrans %}Most Debian work is not anonymous, and requires the
use of an <a
    href="https://www.dewinter.com/gnupg_howto/english/GPGMiniHowto.html">OpenPGP</a>
key. We require the key to be signed or endorsed by two (one for people applying to become
Debian Maintainer) or more Debian Developers to make reasonably sure that you
are who you claim to be. This is called the
<a href="http://www.w4kwh.org/privacy/keysign.html">"web of trust"</a>.  If
you are curious, you can check the status of your key in the global web of
trust <a href="http://pgp.cs.uu.nl/">here</a>.{% endblocktrans %}</p>
    <p>{% blocktrans with form_fpr_label=form.person.fpr.label %}We also have some
requirements about the key itself: it needs to be version 4 or later, it must not
use DSA and it should be at least 4096 bits long (2048 bits are acceptable only
in exceptional circumstances). Please enter the fingerprint of your OpenPGP key
in the "{{form_fpr_label}}" field below, press "Check" and I will check it for
you now while you keep reading the page. For your convenience, I will also try
to autofill many fields in this page based on the first User ID in your key.
Keys are first searched in <code>hkps://keyring.debian.org</code>. If no key is found,
then the key will be imported from <code>hkps://keyserver.ubuntu.com/</code>. Please
ensure that you have sent your key to Ubuntu's key server. Sending public keys to
keyring.debian.org will only work if your key is already in Debian's keyring and will
only be taken into account after the Keyring Maintainers updated it. For Debian
Maintainers and Developers, please remember to send your key to both servers.
{% endblocktrans %}</p>
    <div class="form-row">
      <div class="form-group col-md-8">
        {{form.person.fpr.label_tag}}
        {{form.person.fpr}}
      </div>
      <div class="form-group col-md-4 mt-auto">
        <button class="btn btn-primary ml-2" id="fpr_check">{% trans "Check" %}</button>
      </div>
    </div>
    <img id="{{form.person.fpr.id_for_label}}_spinner" src="{% static "img/spinner.gif" %}"></img>
    {{form.person.fpr.errors}}
    <div class="fpr_keycheck">
    </div>
  </div>
 
  <div id="np_name">
    <h3>{% trans "Name" %}</h3>

    <p>{% trans "You can enter here your full name as it makes sense for you to write it:" %}</p>

    <div class="form-group">
      {{form.person.fullname.label_tag}}
      {{form.person.fullname}}
      {{form.person.fullname.errors}}
    </div>

    <p>{% blocktrans %}I need to collect data that may eventually feed the
Debian LDAP user directory, which follows
<a href="http://tools.ietf.org/html/rfc2798">RFC-2798</a>. It uses a
first/middle/last name model which
<a href="http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/">
does not fit many cultures well</a>; it is a known problem, but we will have
to make do for now. Please try to split your name into the fields below:{% endblocktrans %}</p>
    <div class="form-row">
      <div class="form-group col-md-4">
        {{form.ldap_fields.cn.label_tag}}
        {{form.ldap_fields.cn}}
        {{form.ldap_fields.cn.errors}}
      </div>
      <div class="form-group col-md-4">
        {{form.ldap_fields.mn.label_tag}} ({% trans "if any" %})
        {{form.ldap_fields.mn}}
        {{form.ldap_fields.mn.errors}}
      </div>
      <div class="form-group col-md-4">
        {{form.ldap_fields.sn.label_tag}} ({% trans "if any" %})
        {{form.ldap_fields.sn}}
        {{form.ldap_fields.sn.errors}}
      </div>
    </div>
  </div>

  <div id="np_email">
    <h3>{% trans "Email address" %}</h3>

    <p>{% blocktrans %}I need an email to contact you. If you will eventually
get an address @debian.org, it will initially forward to this email. You can
change this at any time later.{% endblocktrans %}</p>
    <div class="form-group">
    {{form.person.email.label_tag}} {{form.person.email}}
    {{form.person.email.errors}}
    </div>
  </div>

  <div id="np_uid">
    <h3>{% trans "User name" %}</h3>

{% url 'public_findperson' as public_findperson_url %}
    <p>{% blocktrans %}Please select a username. You will need this if you are
requesting a guest account on Debian machines, or if you are going to become a
Debian Developer. This is not needed for Debian Maintainers, but if you want,
you can reserve one now.{% endblocktrans %}</p>
    <p>{% blocktrans %}If you choose a username that is already in use, I will
let you know once you submit the form and you will be able to change it. In the
meantime, you can <a href="{{public_findperson_url}}">check
which usernames are already taken</a>.{% endblocktrans %}</p>
    <p>{% blocktrans %}Account names should have three or more letters, unless
you have a really good reason why it should be shorter. Debian Account Managers
at their discretion may refuse some usernames (like "root" or "enricoisasillyperson"),
and get in touch asking you to please choose another one.{% endblocktrans %}</p>
    <div class="form-group">
    {{form.ldap_fields.uid.label_tag}} {{form.ldap_fields.uid}}
    {{form.ldap_fields.uid.errors}}
    </div>
  </div>

  <div id="np_bio">
    <h3>{% trans "Short presentation" %}</h3>

    <p>{% blocktrans %}Finally, please tell something about yourself, how you
came to Debian and Free Software, and why you want to volunteer your time.
Please describe the contributions you have made to Debian, your primary areas
of interest and any goals you wish to accomplish.{% endblocktrans %}</p>

    <p>{% blocktrans %}The intention is to use this to introduce you publicly
to the rest of the project: it will be shown on your personal page on
nm.debian.org.{% endblocktrans %}</p>
    <div class="form-group">
    {{form.person.bio.label_tag}}<br>{{form.person.bio}}
    {{form.person.bio.errors}}
    </div>
  </div>
  
  <div id="np_submit">
    <h3>{% trans "Submit" %}</h3>

    <p>{% blocktrans %}You can now submit the form, and you will get an email
with a link to visit to confirm your data. The link will be encrypted with your
GPG key. Once you have confirmed, other Debian Developers can go to your
personal page and advocate you for what you require.{% endblocktrans %}</p>

    {% if has_entry %}
    <button type="submit" class="btn btn-primary" disabled="disabled">{% trans "Submit disabled because you already have an entry in the system." %}</button>
    {% else %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endif %}
  </div>
</form>

{% endif %}

{% endblock %}
